html, body, div#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #eeeeee;
}

.login-center {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 240px;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.navbar-left {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar-left > * {
    margin-right: 26px;
}
