html, body, div#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f8fafd;
    font-family: sans-serif;
    margin: 0px;
}

body {
    align-items: center;
}

/* https://stackoverflow.com/a/14939612 */
div#root {
    min-width: 0px;
    max-width: 1200px;
    width: 100%;
}

.login-center {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 270px;
    background-color: #ffffff;
    border: 1px solid #c4c7c5;
}

button {
  background: #ffffff;
  border: 1px solid #c4c7c5;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #f8fafd;
}

.login-center > h1 {
    margin-bottom: 0px;
}

.login-center > p {
    margin-bottom: 19px;
}

.login-center > button {
  width: 72%;
  padding: 10px 10px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 8px;
    border: 1px solid #c4c7c5;
}

.navbar button {
    padding: 7px 7px;
}

.navbar-left {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar-left > h2 > a {
    text-decoration: none;
}

.navbar-left > * {
    margin-right: 26px;
}

.documents-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #c4c7c5;
    border-top: 0px;
    padding: 15px 8px;
}

.documents-list a {
    color: black;
    text-decoration: none;
}

.documents-list > .drive-button > button {
    padding: 7px 7px;
}

.documents-list > .drive-button {
    margin-bottom: 14px;
}

/* https://stackoverflow.com/a/45761854 */
.documents-list a {
    display: flex;
    justify-content: left;
}

.documents-list th {
    text-align: left;
    color: black;
}

.documents-list .status-cell {
    text-align: center;
}

.documents-list img {
    border-radius: 100%;
    width: 26px;
    height: auto;
}

.documents-list-photo-name {
    display: flex;
    align-items: center;
}

.documents-list-photo-name > * {
    margin-right: 6px;
}

.documents-list > table button {
    padding: 1px 6px;
}

.document-quotes {
    display: flex;
    overflow: hidden;
    background-color: white;
    border: 1px solid #c4c7c5;
    border-top: 0px;
}

.document-text {
    margin: 0 0;
    background-color: white;
    width: 820px;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 5px 40px;
    font-family: serif;
    line-height: 1.6;
    font-size: 18px;
    border-right: 1px solid #c4c7c5;
}

.document-title {
    font-family: sans-serif;
    font-size: 23px;
    text-align: center;
}

.document-author-key {
    background-color: white;
    overflow-x: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.document-author {
    line-height: 1.6;
    padding-left: 5px;
    border-bottom: 1px solid #c4c7c5;
    border-right: 1px solid #c4c7c5;
    display: flex;
}

.document-author-left {
    display: flex;
    justify-content: column;
    align-items: flex-end;
    margin-right: 6px;
}

.document-author-photo img {
    width: 14px;
    height: auto;
    border-radius: 100%;
}

.document-authors-top {
    border-bottom: 1px dotted #c4c7c5;
}

.document-authors-title {
    font-size: 23px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.document-author-bottom-whitespace {
    border: 0px;
    min-height: 75px;
}

/* https://stackoverflow.com/a/1014958 */
body:has(.document-quotes) {
    overflow: hidden;
}
